body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #f0f4ff, #d9e2ff);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    height: 100%;
    min-width: 250px;
    width: 100%;
}

#button-group {
    margin-top: 14px;
    display: flex;
    justify-content: center;
}

.container {
    text-align: center;
    background: #ffffff;
    padding: 15px 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}


.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    position: relative;
}

.modal-content form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-content label {
    text-align: left;
    font-weight: 500;
    margin-bottom: 4px;
}

.modal-content input {
    width: 100%;
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.modal-content button {
    margin-top: 15px;
    padding: 8px 16px;
    align-self: center;
}


.close {
    position: absolute;
    right: 12px;
    top: 8px;
    font-size: 20px;
    cursor: pointer;
}

button {
    border-radius: 4px;
    background: #4a90e2;
    color: white;
    font-weight: 600;
    border: 1px solid #e0e0e0;
    padding: 6px 12px;
}

button:hover {
    background: #3a7bc8;
    cursor: pointer;
}

button:disabled{
    background: #b1b1b1;
}

h1 {
    margin-bottom: 15px;
    font-size: 22px;
    color: #333;
}

table {
    border-collapse: collapse;
    width: 100%;
    background: #fafafa;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 8px;
}

th {
    background: #4a90e2;
    color: white;
    font-weight: 600;
}

tr:nth-child(even) {
    background: #f2f6ff;
}

tr:hover {
    background: #d0e4ff;
    cursor: pointer;
}